body{

    background-image: url(donation13.jpg);
    background-repeat: no-repeat;

}
h1{
    color:white;
    text-align:left;
}
p{
    color:white;
    text-align: left;
}
a{
    color: chocolate;
    text-align:calc();
}
.link-button{
    text-decoration: none;
    padding: 20px 40px;
    border: 10px;
    background-image: linear-gradient(orange tomato);
    background-color:orange;
    font-weight: 700;
    border-radius: 5px;
}